/*Обнуление*/
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}
/*-----------------------------*/

body{
    background: rgba(0, 0, 0, 0.05);
    font-family: "Times New Roman";
    height: 1200px;
}
.ellipse{
    margin: 0 0 0 10%;
    background: url('../css/img/Ellipse_1.png') no-repeat;
}
.block1{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 5% 25% 1% 15%;
    width: 100%;
    height: 10%;
    opacity: 0.6;
    color: #273d46;
    text-transform: uppercase;
    text-align: center;
}
.block2{
    padding: 1% 20% 1% 20%;
    width: 100%;
    height: 20%;
    color: #273d46;
    text-align: center;
    font-size: 36px;
}
.block3{
    margin: 3% 0 5% 10%;
    width: 880px;
    height: 630px;
    background: url('../css/img/light-man.png') center no-repeat;
    background-size: cover;
    border: 10px solid white;
    background-clip: content-box;
}
.block4{
    padding: 0% 20% 2% 15%;
    width: 100%;
    height: 20%;
    opacity: 0.8;
    color: #273d46;
    text-align: left;
    font-size: 24px;
    line-height: 140%;
}
.block5{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 2% 20% 2% 15%;
    width: 100%;
    height: 20%;
    font-size: 20px;
    text-align: left;
}
.li1,.li2,.li3,.li4{
    background: url('../css/img/check_icon.png') left no-repeat;
    padding: 0 0 0 30px;
}
.li1{
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    color: #273d46;
    font-size: 20px;
    line-height: 36px;
}
.li2{
    color: #80b7b3;
    font-size: 20px;
    line-height: 36px;
}
.li3{
    color: #273d46;
    font-size: 20px;
    font-weight: bold;
    line-height: 36px;
}
.li4{
    opacity: 0.3;
    color: #273d46;
    font-size: 20px;
    line-height: 36px;
    text-decoration: line-through;
}